<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" height="40px"  width="auto" alt="" srcset="">
  </a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto"  >
      <li class="nav-item dropdown dropleft">
        <img src="../../../assets/profile.jpeg" alt="" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item">{{currentUser}}
          <caption>{{role}}</caption>
          </a>
          <a class="dropdown-item" href="#">View Account</a>
          <a class="dropdown-item" (click)="onLogOutClick()">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>