.navbar-nav li img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.dropleft .dropdown-menu {
    top: 55px;
    right: -17px;
    left: auto;
    margin: 0;
    min-width: 250px;
    width: auto;
    border-radius: 0;
    padding: 0;
}

li { border-top: 1px solid red; }
li:first-child { border-top: none; }



.dropdown-menu {
    .dropdown-item:first-child { 
        border-top: none;
    }
    .dropdown-item:last-child { 
        border-top: none;
    }
    .dropdown-item + .dropdown-item{
        border-top: 1px solid #1e4872;
    }
    .dropdown-item {
        display: block;
        width: 95%;
        padding: .25rem 1.5rem;
        clear: both;
        margin: 5px;
        font-weight: 400;
        font-size: 18px;
        color: #0a6e9e;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        cursor: pointer;
    }
    caption {
        color: #5f825d;
        text-align: left;
        caption-side: bottom;
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
}